# Ignore Node dependencies
tracker-app/node_modules/
tracker-app/dist/
server/node_modules/
node_modules/
dist/

# Local env files
.env
.env.*
server/.env
server/.env.*
tracker-app/.env
tracker-app/.env.*

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build outputs & binaries
*.apk
*.aab
.gradle/
build/

